<p id="notice"><%= notice %></p>

<h1>Orders Received</h1>
<hr/>
<% if @current_user.orders_received %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th>Time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders_received.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= time_ago_in_words(order.updated_at) %> ago</td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show',line_items_path(order_id: order.id) %></td>
        <% if order.status == "Processed"%>
        <% else %>
          <td><%= link_to 'Destroy',destroy_order_received_user_path(@current_user, :order_id => order.id), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>