<p id="notice"><%= notice %></p>
<hr/>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>,
  <% if @current_user.shipper_by(@current_user) %>
    Shipper.
  <% end %>
</p>
<p>
  <strong>
    <% if @current_user.shipper_by(@current_user) %>
      <%= link_to "Unshipper", unshipper_user_path(@current_user)%>
    <% else %>
      <%= link_to "Registered as a Shipper", shipper_user_path(@current_user) %>
    <% end %>
  </strong>
</p>
<% if @current_user.orders_received %>
  <p><%= link_to 'Orders received', orders_received_users_path(@current_user)%></p>
<% end %>
<% if @current_user.id == @user.id%>
  <p><%= link_to 'My Orders', my_orders_users_path %></p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', root_path %>
<hr/>
<div class='text-my-restaurant'>
<h2>My Restaurants:</h2></div>
<div class='my-restaurant'>
<% if @current_user.restaurants.present? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Open time</th>
      <th>Close time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.restaurants.each do |restaurant| %>
      <tr>
        <td><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></td>
        <td><strong><%= restaurant.address %></strong></td>
        <td><strong><%= restaurant.open_time.strftime("%I:%M %p") %></strong></td>
        <td><strong><%= restaurant.close_time.strftime("%I:%M %p") %></strong></td>
        <% if @current_user.id == restaurant.user_id%>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
<%= link_to 'New Restaurant', new_restaurant_path %>
<p><%= will_paginate @restaurants %></p>