<%= form_with(model: shipper, local: true) do |form| %>
  <% if shipper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipper.errors.count, "error") %> prohibited this shipper from being saved:</h2>

      <ul>
        <% shipper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
   <%= form.hidden_field :user_id, value: @current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
