<p id="notice"><%= notice %></p>
<div id='dish-id' data-id='<%= @dish.id %>'></div>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
</p>

  <%= image_tag @dish.image_url, class:'image-url' %>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>đ
</p>

<p>
<% if @dish.votes.present? %>
  <strong>Dish's Vote:</strong>
  <div class="dish-vote" data-dish-vote='<%= @dish.rounding(@dish.dish_vote) %>'></div>
<% end %>
</p>

<% if @dish.rating(@current_user).present? %>
  <strong>My Vote:</strong>
  <div class="my-rating" data-rating='<%= @dish.rating(@current_user).rate%>'></div>
  <% else %>
  <strong>Vote:</strong>
  <div class="my-rating"></div>
<% end %>

<div>
  <% if @current_user.id == @dish.user_id%>
    <%= link_to 'Edit', edit_dish_path(@dish) %> |
  <% end %>
  <%= link_to 'Back', dishes_path %>
</div>


<script>
var rating = $(".my-rating").data("rating")
var readonly = false

if (rating > 0) { 
  readonly = true 
}
$(".my-rating").starRating({
  initialRating: 0,
  strokeColor: '#894A00',
  strokeWidth: 10,
  readOnly: readonly,
  starSize: 25,
  callback: function(currentRating, $el){
     var dishId = $('#dish-id').data('id');
    $.post(`/dishes/${dishId}/vote`, { rate: currentRating}, function(data) {
      console.log(currentRating);
    } )
  }
});

var dishvote = $(".dish-vote").data("dish-vote")
$(".dish-vote").starRating({
  initialRating: dishvote,
  strokeColor: '#894A00',
  strokeWidth: 10,
  readOnly: true,
  starSize: 25,
});
  
</script>