<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant.name %>
</p>

  <%= image_tag @dish.image_url, class:'image-url' %>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>đ
</p>
  <% if @current_user.id == @dish.user_id%>
    <%= link_to 'Edit', edit_dish_path(@dish) %> |
  <% end %>
<%= link_to 'Back', dishes_path %>
