<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
</p>

  <%= image_tag @dish.image_url, class:'image-url' %>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>đ
</p>

<% if @dish.votes.present?%>
  <p>
    <strong>Dish's Vote:</strong>
    <%= @dish.dish_vote %>
  </p>
<% end %>


<% if @current_user.votes.where(dish_id: @dish.id).present? %>
<p>
  <strong>My Vote:</strong>
  <%= @current_user.votes.where(dish_id: @dish.id).pluck(:rate).join(',') %>
</p>
<% end %>

<p>
  <%= form_tag(votes_path(dish_id: @dish.id)) do %>
    <strong>Vote:</strong>
    <%= select_tag :type, options_for_select(1..10) %>
    <%= submit_tag("Vote")%>
  <% end %>
</p>

<div class="card-footer">
  <%= button_to 'Add to Cart', line_items_path(:dish_id => @dish), remote: :true %>
</div>
  <% if @current_user.id == @dish.user_id%>
    <%= link_to 'Edit', edit_dish_path(@dish) %> |
  <% end %>
<%= link_to 'Back', dishes_path %>
