<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>


  <%= image_tag @dish.image_url, class:'image-url' %>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
