<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %>
</p>

  <%= image_tag @dish.image_url, class:'image-url' %>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>đ
</p>
<div class="card-footer">
  <%= button_to 'Add to Cart', line_items_path(:dish_id => @dish), remote: :true %>
</div>
  <% if @current_user.id == @dish.user_id%>
    <%= link_to 'Edit', edit_dish_path(@dish) %> |
  <% end %>
<%= link_to 'Back', dishes_path %>
