<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<hr/>
<% if @restaurants.present?%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Address</th>
      <th>Open time</th>
      <th>Close time</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></td>
        <td><strong><%= link_to restaurant.user.name, user_path(restaurant.user) %></strong></td>
        <td><strong><%= restaurant.address %></strong></td>
        <td><strong><%= restaurant.open_time.strftime("%I:%M %p") %></strong></td>
        <td><strong><%= restaurant.close_time.strftime("%I:%M %p") %></strong></td>
        <td>
          <% if restaurant.resvotes.present? %>
            <div class="restaurant-vote" data-restaurant-vote='<%= restaurant.resvote_rounding(restaurant.restaurant_vote) %>'></div>
          <% end %>
        </td>
        <% if @current_user.id == restaurant.user_id%>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<p><%= will_paginate @restaurants %></p>

<div id='demo'></div>

<%= form_tag('/restaurants/search', :method => "get", class: 'form-inline', remote: true) do %>
<%= text_field_tag 'query', '', class: 'form-control' %>
<%= submit_tag 'Search', class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div style='width: 400px; padding-left: 350px;'>  
    <div id="map" style='width: 800px; height: 600px;'>
    </div>  
  </div>  
  </div>


<script>


var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  window.latitude = position.coords.latitude,
  window.longitude = position.coords.longitude,
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
  
  $.get(`/restaurants/near_by`, { latitude: window.latitude, longitude: window.longitude }, function(data) {
        window.restaurants = data
        console.log(window.restaurants);
    } );
} 

getLocation();
function initMap() {
    var lat = window.latitude
    var lng = window.longitude
    var uluru = {lat, lng};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 11, center: uluru});
    var marker = new google.maps.Marker({position: uluru, map: map});
    $.each(window.restaurants, function(a,restaurant) {
    var resmarker = new google.maps.Marker({
      position: {
        lat: restaurant.latitude, 
        lng: restaurant.longitude
        }, 
      label: restaurant.name, 
      map: map
      });
    })
  }

$('div.restaurant-vote').each(function () {
      var restaurantvote = $(this).data("restaurant-vote")
      $(this).starRating({
          initialRating: restaurantvote,
          strokeColor: '#894A00',
          strokeWidth: 10,
          readOnly: true,
          starSize: 25,
      });
  })


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzs2ja1HKuzIFiccxeB-SFpqOg9WMUk3g&callback=initMap"
type="text/javascript"></script>
