<p id="notice"><%= notice %></p>
<div id='restaurant-id' data-id='<%= @restaurant.id %>'>
<hr/>
<div class='show-restaurant'>
  <p>
    <strong><h1><%= @restaurant.name %></h1></strong>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @restaurant.user.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Open time:</strong>
    <%= @restaurant.open_time.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= @restaurant.close_time.strftime("%I:%M %p") %>
  </p>

  <% if @restaurant.resvotes.present? %>
    <div class="restaurant-vote" data-restaurant-vote='<%= @restaurant.resvote_rounding(@restaurant.restaurant_vote) %>'>
    <strong>Restaurant's Vote:</strong>
    </div>
  <% end %>

  <% if @restaurant.resvoted(@current_user).present? %>
    <div class="my-rating-res" data-rating='<%= @restaurant.resvoted(@current_user).rating %>'>
    <strong>My Vote:</strong>
    </div>
    <% else %>
    <div class="my-rating-res"></div>
  <% end %>

  <% if @current_user.id == @restaurant.user.id %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', root_path %>
</div>



<% if @restaurant.latitude.present? && @restaurant.longitude.present? %>
  <div class="row">
  <div style='width: 400px; padding-left: 480px;'>  
    <div id="map" style='width: 400px; height: 200px;'>
      <div id="lat" data-id='<%= @restaurant.latitude %>'></div>
      <div id="lng" data-id='<%= @restaurant.longitude %>'></div>
    </div>  
  </div>  
  </div>
<% end %>

<div class="menu"><h3>--MENU--</h3></div>
<div class="row">

  <% @dishes.each do |dish| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <%= link_to image_tag(dish.image_url, class:"image-url"), dish_path(dish) %>
          <h4 class="card-title">
            <%= link_to dish.name, dish_path(dish) %> :<%= dish.price %>đ
            <div class="address"><%= link_to dish.restaurant.name, restaurant_path(dish.restaurant) %>,
              <%= dish.restaurant.address %>
            </div>
            <% if dish.votes.present? %>
              <div class="dish-vote"data-dish-vote='<%= dish.rounding(dish.dish_vote) %>'></div>
            <% end %>
            <div class="card-footer">
              <%= button_to 'Add to Cart', line_items_path(:dish_id => dish), remote: :true %>
            </div>
          </h4>
        </div>
      </div>
    </div>
  <%  end %>
    </div>


<% if @current_user.id == @restaurant.user.id%>
  <%= link_to 'New Dish', new_dish_path(@restaurant) %>
<% end %>
<p><%= will_paginate @dishes %></p>




<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var lat = $('#lat').data('id')

    var lng = $('#lng').data('id')
    var uluru = {lat, lng};
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
  }

  $('div.dish-vote').each(function () {
        var dishvote = $(this).data("dish-vote")
        $(this).starRating({
            initialRating: dishvote,
            strokeColor: '#894A00',
            strokeWidth: 10,
            readOnly: true,
            starSize: 25,
        });
    });
  var rating = $(".my-rating-res").data("rating")
  var readonly = false

  if (rating > 0) { 
    readonly = true 
  }
  $(".my-rating-res").starRating({
    initialRating: 0,
    strokeColor: '#894A00',
    strokeWidth: 10,
    readOnly: readonly,
    starSize: 25,
    callback: function(currentRating, $el){
      var restaurantId = $('#restaurant-id').data('id');
      $.post(`/restaurants/${restaurantId}/resvote`, { rate: currentRating}, function(data) {
        console.log(currentRating);
      } )
    }
  });
  var restaurantvote = $(".restaurant-vote").data("restaurant-vote")
  $(".restaurant-vote").starRating({
    initialRating: restaurantvote,
    strokeColor: '#894A00',
    strokeWidth: 10,
    readOnly: true,
    starSize: 25,
  });
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzs2ja1HKuzIFiccxeB-SFpqOg9WMUk3g&callback=initMap"
type="text/javascript"></script>
