<p id="notice"><%= notice %></p>

<h1>Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Dish</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.dish.name %></td>
        <td><%= line_item.quantity%>x</td>
        <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
      </tr>
    <% end %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@line_items.to_a.sum { |item| item.total_price }) %></td>
    </tr>
  </tbody>
</table>

<br>

