<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
    <div id="banner">
        <a class="navbar-brand" href="/">RESTAURANT ONLINE:</a>
    </div>
    <div id="columns">
        <div id="side">
          <div id="cart">
            <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
            <%# <% if current_cart.line_items.present? %> %>
                <p>
                  <%= render(current_cart) %> 
                </p>
            <% end %>
          </div>
          <div align="right">
            <%= form_tag(dishes_path, :method => "get") do %>
              
              <%= label_tag(:q,"Search:")%>
              <%= select_tag :type, options_for_select(['Dish', 'Restaurant']) %>
              <%= text_field_tag(:q)%>
              <%= submit_tag("Search")%>
            <% end %>
          </div>
            <a href="/">Home</a><br />
            <%= link_to "Dishes", dishes_path %><br />
            <%= link_to "Restaurants", restaurants_path %><br />
            <% if session[:user_id] %>
              <li class="nav-item">
                <%= link_to 'User', user_path(session[:user_id]) %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log Out', sessions_destroy_path%>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to 'Log In', sessions_new_path%>
              </li>
            <% end %>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div> 
</body>
</html>
