<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
    <div align="left", id="banner">
        <a class="navbar-brand" href="/"><h1>RESTAURANT ONLINE:</h1></a>
        </br>
    </div>
    <div align="right", id="home">
      <h4>
        <% if current_cart.persisted? %>
          <%= link_to "My Cart", restaurant_path(current_cart.restaurant) %>
        <% else %>
          <%= link_to "Order Group", order_group_carts_path %>
        <% end %>
        <%= link_to "Home", root_path %>
        <%= link_to "Restaurants", restaurants_path %>
        <% if session[:user_id].present? && User.find(session[:user_id]).shipper_by(User.find(session[:user_id])) %>
          <%= link_to "Ordes List", list_orders_user_path(session[:user_id])%>
        <% end %>
        <% if session[:user_id] %>
            <%= link_to 'User', user_path(session[:user_id]) %>
            <%= link_to 'Log Out', sessions_destroy_path%>
          <% else %>
            <%= link_to 'Log In', sessions_new_path%>
        <% end %>
      </h4>
    </div>
    <div id="columns">
        <div id="side">
          <div align="left">
            <% if session[:user_id]%>
              <h1>
                Hello <%= User.find(session[:user_id]).name %>
              </h1>
            <% end %>
          </div>
          <div align="right", id="search">
            <%= form_tag(dishes_path, :method => "get") do %>
              
              <%= label_tag(:q,"Search:")%>
              <%= select_tag :type, options_for_select(['Dish', 'Restaurant']) %>
              <%= text_field_tag(:q)%>
              <%= submit_tag("Search")%>
            <% end %>
          </div>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div> 
</body>
</html>
